<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Ejemplo con AJAX</display-name>
	<servlet>
		<servlet-name>BuscarClave</servlet-name>
		<servlet-class>com.sap.contabilidad.servlets.BuscarClave</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BuscarClave</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
</web-app>